*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 1800px;
}

.navbar_background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background: none;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.nav-list li a:hover{
    color: grey;

}

.rightnav{
    width: 30%;
    text-align: right;
    /* float: right; */
    background: none;
    cursor: pointer;
    padding: 0 23px;
}

#Search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 15px;
    background: none;
}

body{
    background: rgba(0, 0, 0, 0.7)url(jpg1.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
} 

.background_firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 4px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
} 
.secright{
    display: flex;
    align-items: center;
    justify-content: center;
    float:inline-end;
    width: 100%;
    position: relative;
    background-image: none;
    background: none;
    float: right;
    background-color: aliceblue;
}
.thumbnail{
    height: 500px;
    width: 20%;
    float: left;
    position: relative;
    align-items: center;
    border-radius: 80%;

}
.thumbnailDiv{
    float:inline-end;
    width: 100%;
    position: relative;
    background-image: none;
    background: none;
    background-color: aliceblue;
}

.custom-section {
    text-align: center;
    /* padding: 20px 150px; */
    float:left;
    width: 100%;
    position: relative;
    background-image: none;
    background: none;
    background-color: white;
}

.custom-section img {
    /* Add custom styles for the image */
    width: 20%; /*Make the image fill the width of the section*/
    height: 200; /* Maintain aspect ratio */
    border-radius: 43%; /* Apply rounded corners */
    /* box-shadow: 0 0 2px rgba(31, 16, 16, 0.1);  */
    padding: 20px 150px;
}

.textphotosection{
    text-align: center;
    color:black;
    display: flex;
    /* padding: 20px auto 0px; */
    margin-left: auto;
    justify-content: center;
}

.textphotosection span{
    text-align: center;
    padding-right: 30px;
    padding:20px 80px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin: auto;
}

.paras{
    padding: 0px 65px;
}
.custom-section-left{
    text-align: center;
    /* padding: 20px 150px; */
    float:left;
    width: 100%;
    position: relative;
    background-image: none;
    background: none;
    background-color: white;

}

.custom-section-left img {
    /* Add custom styles for the image */
    width: 20%; /* Make the image fill the width of the section */
    height: 200; /* Maintain aspect ratio */
    border-radius: 43%; /* Apply rounded corners */
    /* box-shadow: 0 0 2px rgba(31, 16, 16, 0.1);  */
    padding: 20px 150px;
    flex-direction: row-reverse;

}

.textphotosection-left{
    text-align: center;
    color:black;
    display: flex;
    /* padding: 20px auto 0px; */
    margin-left: auto;
    justify-content: center;
    flex-direction: row-reverse;

}

.textphotosection-left span{
    text-align: center;
    padding-right: 30px;
    padding:20px 80px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin: auto;
}

.paras-left{
    padding: 0px 65px;
}

.Contact{
    background-color: rgb(142, 158, 172);/*error part 2*/
    height: 1190px;
}
.text-center{
    text-align: center;
    padding-top: 20px ;           /*error part -1*/
    font-family: "Ubuntu", sans-serif;
    /* font-weight: 00; */
    font-style: normal;
}
.form{
    max-width: 354px;
    margin:24px auto;
}

.form input{
    margin: 11px 0;
     width: 100%;
     padding: 5px 3px;
     font-size: 19px;
     border: 2px solid gray;
     border-radius: 6px;
     /* justify-content: center;
     align-items: center; */
}

.btn-dark{
    color: black;
    border:2px solid black;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.text-footer{
    padding: 25px 0;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    /* font-weight: 00; */
    font-style: normal;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar_background{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 447px;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 80%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .form{
        max-width: 62%;
    }
    .custom-section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }


}