* {
    margin: 0;
    padding: 0;
}

.background{
        background:white;
        background-size: cover;
        background-blend-mode: darken;
        background-repeat: no-repeat;
}
/* .background_firstSection_img{
    width: 70%;
    border: 2px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;
} */

.secondHalf{
    width: 200px;
    height: 300px;
}

.img{
    max-width: 320px;
    max-height: 50px;
    box-sizing: border-box;
    width: 100vw;
    
}